.block-modul {
	position: relative;
	border: 2px solid $defaultModulColor;
	border-radius: 20px;
	background-color: $defaultModulColor;
	

	&__body {
		gap: 10px;
		height: 177px;
		width: 292px;
		padding: 20px 20px 12px 20px;
		flex-direction: column;
		align-items: flex-start;
	}

	& button {
		color: $defaultFontColor;
		text-align:left;

		&:hover{
			filter: brightness(1);
			border: solid #dbdfff;
		}
		&:active{
			filter: brightness(0.8);
		}
	}
	&__link{
		color: $defaultFontColor;
	}

	&__title {
	}

	&__link-title {
	}
}
