.menu{
	&__list{
		display: flex;
		gap: 17px;
	}

	&__contentLeft {
		justify-content: flex-end;

		button{
			&:hover{
				filter: brightness(0.8);
			}
			&:active{
				filter: brightness(0.5);
			}
		}

	}

	&__contentCenter{
		justify-content: flex-start;
	}
}
