.moduls {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 40px;
	flex-direction: row;
	align-items:flex-start;

	&__blocks{
		overflow-x: hidden;
		justify-content: flex-start;
		gap: 10px;
		display: flex;
	}
}
