.moduls-cards {

}
.cards-list {
}
.card {
	margin-bottom: 20px;

	
	&__body {
		width: 100%;
	}

	&__input{
		height: 50px;
		padding-left: 20px;
		border-bottom: 2px solid gainsboro;
		resize:vertical;
	}
	input{
		border-radius: 0;
		word-wrap: break-word;
		word-break: break-word;
	}
}
.card-hat {
	height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: red;
	
}

.card-base {
	display: grid;
	align-items: center;
	height: 200px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: $defaultModulColor;
}
.input-proprties{
	display: table-cell;
	position: relative;
    vertical-align: top;
	border-radius: 50px;
	width: 50%;
	margin: 20px;
}
.input-list{
	display: flex;
	justify-content: space-between;
}