.page {
	&__main{
	}
}
.main {
	padding-top: 50px;

	&__list{
		gap:5rem;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	&__container {
	}

	&__content {
		margin: 10px;
	}

	&__title {
	}
}

