@import "./base/vars";
body {
	line-height: 1;
	min-height: 100hv;
	font-family: Inter;
	color: $defaultfontColor;
	background-color: $defaultBackColor;
}
[class*="__container"] {
	max-width: 1050px;
	// display: flex;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 20px;
	padding-right: 15px;
}