body {
	line-height: 1;
	min-height: 100hv;
	font-family: $font_family;
	color: rgb(0, 136, 255);
	background-color: rgba(10, 9, 45, 1);
}
[class*="__container"] {
	max-width: 1100px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-left:15px;
	padding-right: 15px;
}
