*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p{
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}
input,button{
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
}
button{
	&:hover{
		filter: brightness(0.8);
	}
	&:active{
		filter: brightness(0.5);
	}
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}